 <div class="main_container">
	<div align="center" class="luizalabsTitle">
		<h4>Luizalabs Offices</h4>
	</div>
	<div>
		<div class="tile_count">
			<sebm-google-map [latitude]="-20.540101" [longitude]="-47.4073232" [zoom]="6">
				<sebm-google-map-marker 
				      *ngFor="let m of itens let i = index"
				      (markerClick)="clickedMarker(m.label, i)"
				      [latitude]="m.lat"
				      [longitude]="m.lng"
				      [label]="m.label"
				      [markerDraggable]="m.draggable"
				      [iconUrl]="m.icon" >
				</sebm-google-map-marker>
			</sebm-google-map>
		</div>
		<br />
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div align="center">
			    <input [(ngModel)]="label" placeholder="Label" class="inputSimple"><br>
			    <input [(ngModel)]="latitude" type="number" placeholder="Latitude [ -16 | -24 ]" class="inputSimple"><br>
			    <input [(ngModel)]="longitude" type="number" placeholder="Longitude [ -38 | -60 ]" class="inputSimple"><br>
			  	<a (click)="addMarker($event)">
					<img class="markeradd" src="img/markAdd.png" height="32px;" width="32px;" style="cursor: pointer" title="Adicionar" />
				</a>
				<br>
			</div>
			<br />
		</div>
		<div class="col-md-8 col-sm-8 col-xs-12">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="jambo_table">
						<tr>
							<th class="centralize">Description</th>
							<th class="centralize">Lat</th>
							<th class="centralize">Long</th>
							<th class="centralize">Delete</th>
						</tr>
					</thead>
					<tbody class="body_table">
						<tr *ngFor="let marker of itens" class="body_table">
							<td>{{marker.label}}</td>
							<td>{{marker.lat}}</td>
							<td>{{marker.lng}}</td>
							<td class="centralize">
								<span (click)="deleteMarker(marker.id)" class="delete-icon">
									<img src="img/trash_bin-128.png" height="16px;" width="16px;" style="cursor: pointer" />
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br />
		</div>
	</div>
 </div>
